@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

body {
    font-family: "Kumbh Sans";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:hsl(185, 75%, 39%);
}

.dot {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: inline-block;
    margin-top: -20%;
    border: 10px solid white;
}

.square {
    overflow:hidden;
    border-radius: 5%;
    height: 650px;
    width: 650px;
    background-color: white;
    border
}

.top {
    max-width: 100%;
    

}

.bottom {
    text-align: center;

    height: 71px;

}

.para {
    font-weight: 200;
    font-size: 80%;
}

hr {
  border: none;
  background-color: lightgray;
  height: 1px;  
}

.container {
    display:flex;
    justify-content: space-around;
    font-weight: 700;
    padding-top: 3%;
}
